
<nav id="navbar">

<div class="top-bar topbar-center-logo" id="topbar-center-logo">
  <div class="top-bar-left">
    <span class="cursive" >Toodoo</span>
  </div>
  <div class="top-bar-left">
    <ul class="menu">
      <li class="has-form">
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <input id="todoForm" type="text" placeholder="watch Pokemon">
        </div>
        <div class="large-4 small-3 columns">
          <a id="addItem" href="#" class="success button">Add to List</a>
        </div>
      </div>
      </li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal">
    <li><a href="logout"><button>Logout</button></a></li>
    </ul>
  </div>
</div>

</nav>




<!--   <form method="POST" action="/items">
    <input type="text" placeholder="watch Silence of the Lambs">
    <a href="#" class="button postfix" id="addItem">Add to list</a>
  </form>
  </div> -->


<!--     <form action="/login" method="POST">
      <input type="submit" value="Login as User 1" id="user1button">
    </form>
    <form action="/login" method="POST">
     <input type="submit" value="Login as User 2" id="user2button">
    </form> -->

