<nav id="navbar" class="top-bar">

<div class="top-bar-container" data-sticky-container>
  <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <form method="POST" action="/items">
          <li><textarea name="text" id="todoForm" placeholder="watch Pokemon"></textarea></li>
          <li><input type="submit" value="Add to List" id="addItem"></li>
          </form>
        </ul>
      </div>

      <div>
      <span class="cursive">Toodoo</span>
      </div>

      <div class="top-bar-right">
        <a href='logout'><button>Logout</button></a>
        <span><%= user_id %></span>
      </div>
    </div>
  </div>
</div>

</nav>




<!--   <form method="POST" action="/items">
    <input type="text" placeholder="watch Silence of the Lambs">
    <a href="#" class="button postfix" id="addItem">Add to list</a>
  </form>
  </div> -->


<!--     <form action="/login" method="POST">
      <input type="submit" value="Login as User 1" id="user1button">
    </form>
    <form action="/login" method="POST">
     <input type="submit" value="Login as User 2" id="user2button">
    </form> -->

