<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Toodoo</title>
    <meta name="viewport" content="width=device-width", initial-scale="1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  </head>

  <body>
    <nav id="navbar" class="top-bar">
    <% include ./_navbar.ejs %>
    </nav>
      <main>
        <div class="row">
          <!-- <div class="small-1 columns gutter-left">★</div> -->
          <div class="small-3 columns">TO WATCH
            <h6 class="1">Movies</h6>
          </div>
          <div class="small-2 columns">TO READ
            <h6 class="2">Books</h6>
          </div>
          <div class="small-2 columns">TO EAT
            <h6 class="3">Restaurants</h6>
          </div>
          <div class="small-2 columns">TO BUY
            <h6 class="4">Products</h6>
          </div>
          <div class="small-3 columns">TO SORT
            <h6 class="5">Uncategorized</h6>
          </div>
          <!-- <div class="small-1 columns gutter-right">★</div> -->
        </div>
        <!-- <ul class="tabs" data-tabs id="category-tabs">
          <li class="tabs-title watch"><a href="#1">TO WATCH</a></li>
          <li class="tabs-title read"><a href="#2">TO READ</a></li>
          <li class="tabs-title eat"><a href="#3">TO EAT</a></li>
          <li class="tabs-title buy"><a href="#4">TO BUY</a></li>
          <li class="tabs-title sort"><a href="#5">TO SORT</a></li>
        </ul> -->

        <!-- TAB CONTENTS HERE -->
        <!-- <div class="row">
          <div class="small-2 columns" id="1">
            <h6>MOVIES</h6>
              <span>movie</span>
            </ul>
          </div>
          <div class="small-2 columns" id="2">
            <h6>BOOKS</h6>
              <span>book</span>
            </ul>
          <div class="small-2 columns" id="3">
          <div class="tabs-panel" id="3">
            <h6>RESTAURANTS</h6>
              <span>restaurant</span>
            </ul>
          </div>
          <div class="small-2 columns" id="4">
            <h6>PRODUCTS</h6>
              <span>product</span>
            </ul>
          </div>
          <div class="small-2 columns" id="5">
            <h6>UNCATEGORIZED</h6>
              <span>rando</span>
            </ul>
          </div>
        </div> -->
      </main>
  <!-- Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/foundation.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script>$(document).foundation();</script>
  </body>
</html>

