<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Toodoo</title>
    <meta name="viewport" content="width=device-width", initial-scale="1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  </head>

  <body>
    <nav id="navbar">
    <% include ./_navbar.ejs %>
    </nav>
      <main>
        <ul class="tabs" data-tabs id="category-tabs">
          <li class="tabs-title watch"><a href="#1">TO WATCH</a></li>
          <li class="tabs-title read"><a href="#2">TO READ</a></li>
          <li class="tabs-title eat"><a href="#3">TO EAT</a></li>
          <li class="tabs-title buy"><a href="#4">TO BUY</a></li>
          <li class="tabs-title sort"><a href="#5">TO SORT</a></li>
        </ul>

        <!-- TAB CONTENTS HERE -->
        <div class="tabs-content" data-tabs-content="category-tabs">
          <div class="tabs-panel" id="1">
            <h1>MOVIES</h1>
            <ul class="1">
              <li>movie</li>
            </ul>
          </div>
          <div class="tabs-panel" id="2">
            <h1>BOOKS</h1>
            <ul class="2">
              <li>book</li>
            </ul>
          </div>
          <div class="tabs-panel" id="3">
            <h1>RESTAURANTS</h1>
            <ul class="3">
              <li>restaurant</li>
            </ul>
          </div>
          <div class="tabs-panel" id="4">
            <h1>PRODUCTS</h1>
            <ul class="4">
              <li>product</li>
            </ul>
          </div>
          <div class="tabs-panel" id="5">
            <h1>UNCATEGORIZED</h1>
            <ul class="5">
              <li>rando</li>
            </ul>
          </div>
        </div>
      </main>
  <!-- Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/foundation.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script>$(document).foundation();</script>
  </body>
</html>

