<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./_header.ejs %>
  </head>

  <body>
    <% include ./_navbar.ejs %>
      <main>
        <div class="categories row">
          <div class="large-2 large-offset-1 small-12 columns">
          <h5 class="1 movies">To Watch</h5>
          </div>
          <div class="large-2 small-12 columns">
            <h5 class="2 books">To Read</h5>
          </div>
          <div class="large-2 small-12 columns">
            <h5 class="3 food">To Eat</h5>
          </div>
          <div class="large-2 small-12 columns">
            <h5 class="4 products">To Buy</h5>
          </div>
          <div class="large-2 end small-12 columns">
            <h5 class="5 unsorted">To Sort</h5>
          </div>
        </div>

      </main>
  <!-- Scripts -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/foundation.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script>$(document).foundation();</script>
  </body>
</html>

