<!DOCTYPE html>
<html>

<head>
  <title>Toodoo</title>
  <meta name="viewport" content="width=device-width" , initial-scale="1">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<body>

  <span class="cursive">Toodoo</span>
  <a href='login'><button>Login as User 1</button></a>
  <!--       <form action="/login" method="POST">
      <input type="submit" value="Login as User 1" id="user1button">
    </form>
    <form action="/login" method="POST">
     <input type="submit" value="Login as User 2" id="user2button">
    </form> -->

  <!-- SCRIPTS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/foundation.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <form action="/register" method="post">
    <h2>Register</h2>
    <p>
      <label for="register-email">Email</label>
      <input class="register-email" name="email" id ='regEmail'>
    </p>
    <p>
      <label for="register-password">Password</label>
      <input class="register-password" name="password" type="password" id = 'regPW'>
    </p>
    <p>
      <button class = 'register'>Register</button>
    </p>
  </form>
  <script>
    $(document).foundation();
  </script>
</body>

</html>