<!DOCTYPE html>

<html lang="en">
<head>
    <% include ./_header.ejs %>
</head>

<body>

    <div class="logobox">
    <a class="logotext" href="/">Toodoo</a>
    </div>


<div class="row">
<div class="large-4 small-10 large-centered small-centered columns">
<form action="/register" method="POST" class="callout text-center">
  <h2 class="registering">Register</h2>
  <div class="floated-label-wrapper">
    <label for="register-name">Full name</label>
    <input type="text" id="regName" class="register-name" name="name" placeholder="Full name">
  </div>
  <div class="floated-label-wrapper">
    <label for="register-email">Email</label>
    <input class="register-email" name="email" id="regEmail" type="email" placeholder="Email">
  </div>
  <div class="floated-label-wrapper">
    <label for="register-password">Password</label>
    <input type="password" id="regPW" class="register-password" name="password" placeholder="Password">
  </div>
  <input class="register button expanded" type="submit" value="Sign up">
  <div class= "LoginLink">
  <p><a href="/login">Already a User? Login!</a></p>
  </div>
</form>
<div id='registrationMessage'></div>
</div>
</div>





  <!-- SCRIPTS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/foundation.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>
