<!DOCTYPE html>

<html lang="en">
<head>
    <% include ./_header.ejs %>
</head>

<body>

  <span class="cursive">Toodoo</span>
  <a href='login'><button>Login as User 1</button></a>
  <!--       <form action="/login" method="POST">
      <input type="submit" value="Login as User 1" id="user1button">
    </form>
    <form action="/login" method="POST">
     <input type="submit" value="Login as User 2" id="user2button">
    </form> -->

  <!-- SCRIPTS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/vendor/foundation.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <form action="/register" method="post">
    <h2>Register</h2>
    <p>
      <label for="register-name">Full Name</label>
      <input class="register-name" name="name" id ='regName'>
    </p>
    <p>
      <label for="register-email">Email</label>
      <input class="register-email" name="email" id ='regEmail'>
    </p>
    <p>
      <label for="register-password">Password</label>
      <input class="register-password" name="password" type="password" id = 'regPW'>
    </p>
    <p>
      <button class ='register' href="#">Register</button>
    </p>
  </form>
  <p>
    <div id ='registrationMessage'></div> 
  </p>
  <script>
    $(document).foundation();
  </script>
</body>

</html>