@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-everything(false);

$voodoo-purple: #53345f;
$off-white: #eee;
$background-grey: #cccccc;
$logo-font: 'Lobster', cursive;
$heading-font: 'Montserrat', serif;
$movie-blue: #14679e;
$book-red: #b33030;
$food-green: #157539;
$product-yellow: #efab31;
$abyss-black: #252525;



.top-bar, .top-bar ul {
  background-color: $voodoo-purple;
}

.cursive {
  font-family: $logo-font;
  font-size: 40px;
  color: $off-white;
}

.logout {
  color: $off-white;
}

body {
  font-family: $heading-font;
  background-color: $background-grey;

  h5 {
    font-family: $heading-font;
    color: $off-white;
        text-align: center;
  }

  a {
    color: $off-white;
    font-size: 0.75em;
    overflow-wrap: break-word;
  }

  p {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    &:hover {
      background-color: lighten($abyss-black, 50%);
    }
  }

  .movies {
    background-color: $movie-blue;
    border-radius: 5px;
  }

  .books {
    background-color: $book-red;
    border-radius: 5px;
  }

  .food {
    background-color: $food-green;
    border-radius: 5px;
  }

  .products {
    background-color: $product-yellow;
    border-radius: 5px;
  }

  .unsorted {
    background-color: $abyss-black;
    border-radius: 5px;
  }
}

.categories {
  margin-top: 1em;
}

.test {
  border-radius: 100%;
  margin-left: 1em;
  vertical-align: text-top;
  padding: 0.35em 0.5em;
}



/*@media screen and (min-width: 64em) {

  .large-2 {
    background-color: red;
  }
  .books {
    background-color: #fff;
  }
}
*/










/*  h1 {
    color: #244751;
  }*/

/*  .hidden {
    display: none;
  }


/*  .watch {
    background-color: #FF7D7D;
  }

  .read {
    background-color: #74FF74
  }

  .eat {
    background-color: #7070FF
  }

  .buy {
    background-color: #FFFF70;
  }

  .sort {
    background-color: #9E9E9E;
  }*/
