@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-everything(false);

$voodoo-purple: #53345f;
$deep-purple: #372040;
$off-white: #eee;
$background-grey: #cccccc;
$logo-font: 'Lobster', cursive;
$heading-font: 'Montserrat', serif;
$movie-blue: #14679e;
$book-red: #b33030;
$food-green: #157539;
$product-yellow: #efab31;
$abyss-black: #252525;



.top-bar, .top-bar ul {
  background-color: $deep-purple;
}

.cursive {
  font-family: $logo-font;
  font-size: 40px;
  color: $off-white;

  &:hover {
    color: #a7a7a7;
  }
}

#todoForm {
  background-color: #6c5977;
  color: $off-white;
  &:onclick { background-color: $off-white;}
}

.logout {
  color: $off-white;
}

body {
  font-family: $heading-font;
  background-color: $voodoo-purple;

  h5 {
    font-family: $heading-font;
    color: $off-white;
        text-align: center;
  }

  a {
    color: $off-white;
    font-size: 0.75em;
    overflow-wrap: break-word;
  }

  p {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0em;
  }

  .movies {
    background-color: $movie-blue;
    border-radius: 5px;

    p {
      &:hover {
        background-color: darken($movie-blue, 5%);
      }
    }
  }

  .books {
    background-color: $book-red;
    border-radius: 5px;

    p {
      &:hover {
        background-color: darken($book-red, 5%);
      }
    }
  }

  .food {
    background-color: $food-green;
    border-radius: 5px;

    p {
      &:hover {
        background-color: darken($food-green, 5%);
      }
    }
  }

  .products {
    background-color: $product-yellow;
    border-radius: 5px;
    p {
      &:hover {
        background-color: darken($product-yellow, 5%);
      }
    }
  }

  .unsorted {
    background-color: $abyss-black;
    border-radius: 5px;

    p {
      &:hover {
        background-color: lighten($abyss-black, 5%);
      }
    }
  }
}

.categories {
  margin-top: 1em;
}

.test {
  border-radius: 100%;
  margin-left: 1em;
  vertical-align: baseline;
  padding: 0.35em 0.5em;
}

/* EDIT PAGE STYLING */
.editText {
  color: $off-white;
  font-family: $heading-font;
  margin-top: 1em;
}

.logobox {
  @extend .cursive;
  text-align: center;
  margin-top: 1em;
  font-size: 70px;

    .logotext {
      &:hover {
        color: #a7a7a7;
      }
    }
}

/* REGISTER PAGE STYLING */
.callout {
  background-color: $deep-purple;

  label {
    color: $off-white;
  }
}

.registering {
  font-style: $heading-font;
  color: $off-white;
}

#registrationMessage {
  color: $off-white;
}

/* LOGIN PAGE STYLING */
.loginError {
  color: $off-white;
}




