@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-everything(false);

body {
  font-family: 'Bree Serif', serif;
  background-color: #EEE;

  .cursive {
    font-family: 'Lobster', cursive;
    font-size: 50px;
  }

  .row {
    text-align: center;
  }

  h1 {
    color: #244751;
  }

  .hidden {
    display: none;
  }

  // h6 {
  //   text-align: center;
  // }

  // p {
  //   text-align: center;
  // }

  // .gutter-left {
  //   text-align: left;
  // }

  // .gutter-right {
  //   text-align: right;
  // }

  // .columns {
  //   border: 1px solid black;
  // }

  .watch {
    background-color: #FF7D7D;
  }

  .read {
    background-color: #74FF74
  }

  .eat {
    background-color: #7070FF
  }

  .buy {
    background-color: #FFFF70;
  }

  .sort {
    background-color: #9E9E9E;
  }


}
